.listing{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border-radius: 5px;
    border-left: 5px solid hsl(180, 29%, 50%);
    margin: 2rem 0;
    font-size: 0.85rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.listing:nth-of-type(2){
    margin-top: 6rem;
}

.company-logo{
    width: 50px;
    height: auto;
    margin-top: -3.5rem;
}

.listing-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.company-name{
    margin-right: 1.5rem;
}

.new-listing{
    background-color: hsl(180, 29%, 50%);
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 0.15rem 0.5rem;
    padding-top: 0.3rem;
    line-height: normal;
    margin-right: 0.5rem;
}

.featured-listing{
    background-color:  hsl(180, 14%, 20%);
    color: white;
    border-radius: 20px;
    width: fit-content;
    padding: 0.15rem 0.5rem;
    padding-top: 0.3rem;
}

.position-title{
    margin: 0;
    color: black;
    cursor: pointer;
}

.position-title:hover{
    color: hsl(180, 29%, 50%);
}



.listing-footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    color: lightslategrey;
    border-bottom: 1px solid hsla(210, 14%, 53%, 0.5);
    padding-bottom: 0.5rem;
}

.listing-footer p{
    padding-right: 0.75rem;
}

.listing-footer p span{
    padding-left: 0.75rem;
}


.categories{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}

.categories button{
    height: 30px;
    font-weight: 700;
    padding: 0 0.5rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

.categories button:hover{
    background-color: hsl(180, 29%, 50%);
    color: white;
}


@media (min-width: 992px){
    .listing{
        flex-direction: row !important;
        justify-content: space-between;
        align-items: center;
        padding-top: 0;
        padding-bottom: 0;
    }

    .left-side{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .company-logo{
        height: 5rem;
        width: auto;
        margin-top: 0;
        margin-right: 1rem;
    }
    .listing-footer{
        border: none;
    }
}
